{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Auction View</h2>
    <img src="{{ auction.image }}" alt="auction image" width="300">
    <br>
    Auction: {{ auction }}<br>
    Current Highest Bid: {{ current_bid }}<br>
    {{ auction_status }}<br>
    Placed {{ auction.placed_time }} | Ending {{ auction.ending_time }}<br>
    {% if auction.winner %}
        winner: {{ auction.winner }}
    {% endif %}


    <form action="{% url 'toggle_watchlist' auction.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">

        <!-- Watchlist Button Logic -->
        {% if auction_status.is_owner == False and request.user.is_anonymous == False %}
            {% if auction_status.is_watched %}
                <button type="submit">Remove from Watchlist</button>
            {% else %}
                {% if auction_status.is_over == False %}
                    <button type="submit">Add to Watchlist</button>
                {% endif %}
            {% endif %}
        {% endif %}
        <!-- End Watchlist Button Logic -->
    </form>
{% endblock %}