{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Auction View</h2>
    <img src="{{ auction.image }}" alt="auction image" width="300">
    <br>
    Auction: {{ auction }}<br>
    Current Highest Bid: {{ current_bid }}<br>
    {{ auction_status }} | Closed: {{ auction.is_closed }}<br>
    Placed {{ auction.placed_time }} | Ending {{ auction.ending_time }}<br>
    {% if auction.winner %}
        winner: {{ auction.winner }}
    {% endif %}


    <form action="{% url 'toggle_watchlist' auction.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">

        <!-- Watchlist Button Logic -->
        {% if auction_status.is_owner == False and user.is_authenticated %}
            {% if auction_status.is_watched %}
                <button type="submit">Remove from Watchlist</button>
            {% else %}
                {% if auction_status.is_over == False %}
                    <button type="submit">Add to Watchlist</button>
                {% endif %}
            {% endif %}
        {% endif %}
        <!-- End Watchlist Button Logic -->
    </form>

    <!-- Close Auction Button -->
    {% if auction_status.is_owner and auction.is_closed == False %}
        <form action="{% url 'close_auction' auction.id %}" method="POST">
            {% csrf_token %}
            <button type="submit">Close Auction</button>
        </form>
    {% endif %}
    
    <!-- New Comment Logic -->
    {% if user.is_authenticated %}
        <form action="{% url 'add_comment' %}" method="POST">
            {% csrf_token %}
            {{ comment_form }}
            <input type="hidden" name="auction_id" value="{{ auction.id }}">
            <input type="hidden" name="next" value="{{ request.path }}">
            <button type="submit">Post Comment</button>
        </form>
    {% endif %}

    {% for comment in auction.auction_comments.all %}
        {{ comment }}<br>
        <!-- i would like to sort these by comment.timestamp -->
    {% endfor %}
{% endblock %}
