{% extends "auctions/layout.html" %}

{% block body %}
<div id="body-block-div">
    <h2>Active Listings</h2>
    {% for auction in auctions %}
    <div class="auction-div">
        <a href="{% url 'auction' auction.id %}">
            <img src="{{ auction.image }}" alt="{{ auction }}" class="auction-image"><br>
        </a>
        <div class="auction-right-div">
            <a href="{% url 'auction' auction.id %}" class="auction-title">{{ auction.title }}</a>
            <p class="auction-description">{{ auction.description }}</p>
            {% if auction.current_bid != None %}
				<p class="auction-price">EUR {{ auction.current_bid.value }}</p>
			{% else %}
				<p class="auction-price">EUR {{ auction.starting_bid }}</p>
			{% endif %}
            <p class="auction-description">{{ auction.auction_bids.count }} Bids · Ending: {{ auction.ending_time }} UTC</p>
        </div>
    </div>
    <hr>
    {% empty %}
        There are no auctions
    {% endfor %}
</div>
{% endblock %}