{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>
	<ul>
		{% for auction in watchlist %}
			<li>
				<img src="{{ auction.image }}" alt="{{ auction }}" width=150><br>
				<a href="{% url 'auction' auction.id %}">{{ auction }}</a><br>
				{{ auction.description }}<br>
				{{ auction.ending_time }}<br>
				{{ auction.current_bid }}<br>	
				<form action="{% url 'toggle_watchlist' auction.id %}" method="POST">
					{% csrf_token %}
					<input type="hidden" name="next" value="{{ request.path }}">
					<button type="submit">Remove from Watchlist</button>
				</form>
			</li>
		{% empty %}
		    <li>empty</li>
		{% endfor %}
	</ul>
	<h2>Watchlist (Ended)</h2>
	<ul>
		{% for auction in watchlist_ended %}
		    <li>
				<img src="{{ auction.image }}" alt="{{ auction }}" width=150><br>
				<a href="{% url 'auction' auction.id %}">{{ auction }}</a><br>
				{{ auction.description }}<br>
				{{ auction.ending_time }}<br>
				{{ auction.current_bid }}<br>	
				<form action="{% url 'toggle_watchlist' auction.id %}" method="POST">
					{% csrf_token %}
					<input type="hidden" name="next" value="{{ request.path }}">
					<button type="submit">Remove from Watchlist</button>
				</form>
			</li>
		{% endfor %}
	</ul>
{% endblock %}